<div class="row well displayProfiles">
    <div ng-repeat="x in SearchResults">
        <div class="row">

            <div class="col">
                <div class="card">
                    <div class="avatar">
                        <img ng-src="{{x.ImageUrl}}" alt="No Image Found" />
                    </div>
                    <div class="rentbtn">
                        <button type="button" class="btn btn-warning">Rent</button>
                    </div>
                    <div class="content">
                        <p class="personName">{{ x.Title }} <span class="label label-danger" ng-show="x.New == 'Yes'">New</span></p>
                        <p class="profInfo">{{ x.Author }}</p>
                        <p class="profInfo">{{ x.ISBN }}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>